<h1>Hola Soy Juan </h1>

<h2>{{ name }}</h2>

<ul>
  <li *ngFor="let task of tasks()">
    {{ task }}
  </li>
</ul>

<hr>
<h2>String interpolation en Angular</h2>
<p>transmitir datos</p>
<h2>{{'hola '.repeat(4)}}</h2>
<p>la suma de 3 + 3 = {{3 + 3}}</p>
<h3>hola mi nombre {{ name }} y tengo {{ age }} años</h3>

<img [src]="img" alt="">
<input type="text" [value]="name"> 
<button [disabled]="disabled">Click me!</button>

<p>Hola Soy {{person().name}} y tengo {{person().age}}</p>
<hr>
<p>Enlazar propiedades tipo objeto</p>

<p>Hola Soy {{person().name}} y tengo {{person().age}}</p>

<input type="number" [value]="person().age">
<img [src]="person().avatar">
<button [disabled]="person().disabled">Click me!</button>
<p>{{person().name}}</p>
<hr>
<p>Eventos en Angular</p>

<button (click)="clickHandler()" >Click me!</button>
<br>
<button (dblclick)="clickHandlerv2()" >Doble Click me!</button>
<br>
<p>(Change)</p>
<input type="number" (change)="changeHander($event)" [placeholder]="person().age">
<br>
<p>(keydown)</p>
<input type="text" (keydown)="keyDownHandler($event)" [placeholder]="person().name">
<p>(Change)</p>
<input type="text" (change)="changeHander($event)" [placeholder]="person().age">
<p>(keydown atajo de teclado)</p>
<input type="text" (keydown.shift.t)="clickHandler()" [placeholder]="person().name">
<br>
<hr>
<br>
<p>reactividad signal()</p> 
<p>Username: {{ username() }}</p>

<input type="text" [value]="username()"  (change)="changeUsername($event)" >

<ul>
  <p>Totoal elementos {{ tasks().length }}</p>
  <li *ngFor="let task of tasks(); index as i">
    {{ i }} {{ task }}
  </li>
</ul>
<br>
<hr>
<br>
<p> *ngif </p>
<div *ngIf=" 19 > 18">
  <p>Eres mayor de edad</p>
</div>

<div *ngIf=" name === 'Juan Sierra'">
  <p>{{name}}</p>
</div>

<div *ngIf=" person().name === 'Juan Daniel Sierra' && person().age > 18 ">
  <p>Soy {{name}} y soy mayor de edad</p>
</div>

<hr>
<br>
<p> *ngswitch </p>
<input type="number" (change)="changePersonAge($event)" [placeholder]="person().age">
<div>
  <div [ngSwitch]="person().age">
    <p *ngSwitchCase="18">Tienes 18 años</p>
    <p *ngSwitchCase="27">Tienes 27 años</p>
    <p *ngSwitchDefault>No sabemos tu edad</p>
  </div>
</div>
<p>Probando *ngswitch</p>
<input type="text" [value]="person().name" (change)="changePersonNmae($event)">
<div [ngSwitch]="person().name" >
  <p *ngSwitchCase="'juan'">Yo soy Juan Daniel</p>
  <p *ngSwitchCase="'daniel'">Yo soy Daniel Juan </p>
  <p *ngSwitchCase="'ana'">Yo soy ana alicia</p>
  <p *ngSwitchDefault>No estoy registrado con ningun nombre en tu sistema</p>
</div>
<hr>
<br>
<p> Formularios </p>
<input type="color" [formControl]="colorCtrl">
<p>color: {{ colorCtrl.value }} </p>
<hr>
<br>
<p> Estilos modo Angular </p>
<svg>
  <g>
    <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value"/>
  </g>
</svg>
<hr>
<br>
<p> Estilos </p>
<input type="number" [formControl]="widthCtrl" placeholder="ancho">
<input type="number" [formControl]="heightCtrl" placeholder="alto">
<input type="color" [formControl]="colorCtrl">
<br>
<span class="box" 
  [style.width.px]="widthCtrl.value" 
  [style.height.px]="heightCtrl.value"
  [style.background]="colorCtrl.value">
</span>
<p>
  <input type="text" [formControl]="nameCtrl">
  <br>
  <span class="message-error" [class.show]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
</p>
  <p>
    <input type="text">
  </p>
